html, body {
  height: 100%;
  width: 100%;
  margin: 0;

  display: table;
}

body {
  background: url("../taustakuva6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header > h1 {
  font-family: 'Love Ya Like A Sister', cursive;

  text-align: center;
  color: black;
}

#header {
  background-color: #f2f2f2;
  opacity: 0.9;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 65%;
  margin-top: 2%;
  padding-bottom: 2px;
  border: solid black;
  border-radius: 25px;
  flex: 0 0 auto;

}

#page-container {
  background-color: #f2f2f2;
  opacity: 0.9;
  font-weight: bold;
  text-align: center;
  font-family: 'Coming Soon', cursive;
  font-size: 24px;

  padding: 10px;
  width: 55%;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  border: solid black;
}

#inputfield {
  font-family: 'Coming Soon', cursive;
  font-size: 18px;

}

#instructions {
  font-family: 'Coming Soon', cursive;
  font-size: 18px;
}


#input {
  font-family: 'Coming Soon', cursive;
  font-size: 18px;
  border-radius: 10px;
  width: 50%;
  border: thin solid red;
}

#button {
  font-family: 'Coming Soon', cursive;
  font-size: 18px;
  border-radius: 10px;

}


footer  {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 20px;
  text-align: center;
  background-color: #f2f2f2;
  opacity: 0.5;
  padding: 10px 0 10px 0;
  width: 45%;
  display: table-row;
  height: 0;

}
