html, body {
  height: 100vh;
  margin: 0;
}

body {
  background: url("../taustakuva6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

#header > h1 {
  font-family: 'Love Ya Like A Sister', cursive;
  text-align: center;
  color: black;
}

#header {
  background-color: #f2f2f2;
  opacity: 0.9;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 55%;
  margin-top: 2%;
  padding-bottom: 2px;
  border: solid black;
  border-radius: 25px;
  flex: 0 0 auto;
}

#page-container {
  background-color: #f2f2f2;
  opacity: 0.9;
  font-weight: bold;
  text-align: center;
  font-family: 'Coming Soon', cursive;
  font-size: 24px;

  padding: 10px;
  width: 45%;
  height: 80%;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  border: solid black;
}

#inputfield {
  font-family: 'Coming Soon', cursive;
  font-size: 18px;
}

#instructions {
  font-family: 'Coming Soon', cursive;
  font-size: 16px;
}

#input {
  font-family: 'Coming Soon', cursive;
  font-size: 18px;
  border-radius: 10px;
  width: 50%;
  height: 40px;
  border: 1px solid red;
  padding-left: 15px;
}

/*kun ostos hoidettu, vaihtuu väri*/
.done {
  background: #b3e6b3 !important;
  color: black;
  border: solid green;
}

.delete {
  display: none; /*poistuu näkyvistä*/
}

#button {
  font-family: 'Coming Soon', cursive;
  font-size: 18px;
  border-radius: 10px;
}

button:hover {
  background-color: #bfbfbf;
  color: white;
}

ul {
	text-align: left;
	margin-top: 20px;
	padding-left: 20px;
}

li {
  width: 40%;
	height: 8px;
	padding: 10px 10px;
  margin-bottom: 10px;
	color: black;
  background-color: #ffb3b3;
	border: thin solid red;
	border-radius: 25px;
  list-style: none;
  font-size: 18px;
  display: table;
  margin: 2px auto;
}

li:hover {
  background-color: #e6e6e6;
}

/* x- eli poistonappula */
li > button {
  color: black;
	border: thin solid black;
	float: right;
  border-radius: 50px;
}

#clear {
  font-family: 'Coming Soon', cursive;
  font-size: 12px;
  border-radius: 10px;
}

footer  {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 20px;
  text-align: center;
  background-color: #f2f2f2;
  opacity: 0.5;
  padding: 10px 0 10px 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

@media only screen and (max-width: 768px) {
#page-container {
  width: 95%;
  margin-left: 0;
  margin-right: 0;
  }
}
