*,
*::before,
*::after {
  box-sizing: border-box;
}

/* html muotoilu */
html,
body {
  min-height: 100vh;
  margin: 0;
}

body {
  background: url("../taustakuva1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.header {
  color: white;
  text-align: center;
  font-size: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "New Tegomin", serif;
}

nav {
  flex: 0 0 auto;
  position: -webkit-sticky; /* Safari vörkkii */
  position: sticky;
  top: 0;
  background-color: #ffffff;
  margin-bottom: 10px;
  font-family: "New Tegomin", serif;
  z-index: 1; /* sticky toimii tän avulla*/
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #333;*/
}

nav li {
  float: left;
}

/*linkit navin sisällä*/
nav li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10%;
}

nav li a:hover:not(.active) {
  background-color: #5b4eb1;
  color: black;
}

.content {
  background-color: #483d8b;
  margin-inline: auto;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 1em;
  width: min(90%, 65%);
  border: solid black;
  text-align: center;
  font-family: "New Tegomin", serif;
  font-size: 20px;
  color: white;
  flex: 1 0 auto;
}

#putous {
  font-family: "New Tegomin", serif;
  font-size: 16px;
  border: thin solid black;
}

#aloita {
  font-family: "New Tegomin", serif;
  font-size: 16px;
  background-color: white;
  border: thin solid black;
}

#button {
  font-family: "New Tegomin", serif;
  font-size: 16px;
  background-color: white;
  border: thin solid black;
}

#pelikentta {
  display: grid;
  gap: 1rem;
  /* align-items: center;
  justify-content: center;
  flex-flow: row wrap; */
}

.fourByFour {
  grid-template-columns: repeat(4, 1fr);
}
.fourBySix {
  grid-template-columns: repeat(4, 1fr);
}
.sixBySix {
  grid-template-columns: repeat(6, 1fr);
}

/* #pelikentta div {
  padding: 0;
  margin: 10px;
} */

.card {
  position: relative;
  margin-inline: auto;
}

.hidden {
  cursor: pointer;
  display: none;
  visibility: hidden;
}

.visible {
  cursor: pointer;
  display: block;
  visibility: visible;
}

.selected {
  border: yellow solid 5px;
  border-radius: 15px;
}

.match {
  display: block;
  visibility: visible;
  border: green solid 5px;
  border-radius: 15px;
}

img {
  max-width: 90px;
  max-height: 180px;
}

footer {
  font-size: 20px;
  text-align: center;
  color: white;
  flex: 0 1 auto;
}
