/*Ei löytynytkään ilmaisia ja samoja fontteja googlesta joita meinattiin suunnittelussa, joten ne oli pakko vaihtaa*/

body {
  background-color: black;
  margin: 0 auto;
  /*padding: 10px;
  margin: 5px;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}


.form {
  width: 600px;
  height: 700px;
  background-color: lightgrey;
  display: inline-block;
  border: 1px solid;
  padding: 10px 15px 10px 150px;
  box-shadow: 5px 10px 10px #007399;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 12;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

#header1 {
  color: black;
  font-family: 'Architects Daughter', cursive;
  font-size: 22;
  text-align: center;
}

.smallheader {
  font-family: arial;
  font-weight: bold;
  font-size: 14;
}

td {
width: 40px;
}

#user {
  border: 2px solid black;
}

#password {
  border: 2px solid black;
}

#feedback {
  border: 2px solid black;
}

#submit {
  background-color: #007399;
  border: 1px solid black;
  width: 90px;
  height: 50px;
}

footer {
  color: #007399;
  text-align: center;
  background-color: black;
  font-family: arial;
}
