body {
  background-color: #141526;
  margin: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#headeri {
  color: lightGray;
  font-family: 'Noto Sans JP', sans-serif;
}
#kyselylomake {
  width: 600px;
  height: auto;
  background-color: #26273b;
  display: inline-block;
  border: 1px solid;
  border-radius: 8px;
  padding: 10px 15px 10px 150px;
  text-align: left;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 12;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
#otsikko {
  color: lightGray;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 22;
  text-align: left;
  margin-left: 15%;
}
#kuvaus {
  color: #9193a8;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18;
  text-align: left;
  margin-left: ;
}
#nimisyotto {
  color: lightGray;
}
#emailsyotto {
  color: lightGray;
}
#ikasyotot {
  color: lightGray;
}
#nimi {
  border: 2px solid #535467;
}
#email {
  border: 2px solid #535467;
}
#ika {
  border: 2px solid #535467;
}
#ddpotsikko {
  color: lightGray;
  padding: 35px 0px 15px;
}
#pudotus {
  border: 2px solid #535467;
}
#rryhma1 {
  color: lightGray;
  padding: 15px 0px 15px;
}
#radio1 {
  color: #9193a8;
}
#radio2 {
  color: #9193a8;
}
#radio3 {
  color: #9193a8;
}
#rryhma2 {
  color: lightGray;
  padding: 15px 0px 15px;
}
#radio4 {
  color: #9193a8;
}
#radio5 {
  color: #9193a8;
}
#radio6 {
  color: #9193a8;
}
#zekkiboxit {
  color: lightGray;
  padding: 15px 0px 15px;
}
#check1 {
  color: #9193a8;
}
#check2 {
  color: #9193a8;
}
#check3 {
  color: #9193a8;
}
td {
  width: 40px;
}
#kommenttikentta {
  padding: 15px 0px 15px;
}
#laheta {
  background-color: #141526;
  border: 3px solid #535467;
  border-radius: 8px;
  color: #1cbfff;
  font-size: 16px;
  font-weight: bold;
  width: 90px;
  height: 50px;
}
footer {
    background-color: black; border: 0; padding: 15px; margin: 0;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif; color: lightGray;
}
